<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dom</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/bae83ce802.js" crossorigin="anonymous"></script>
  <!--css file-->
  <link rel="stylesheet" href="">
</head>
<body class="bg-dark">
  <div class="row m-5">
    <div class="col-sm-6 col-6 col-md-4"></div>
      <div class="card bg-dark">
        <div class="card-header">
          <h1 class="text-white">Simple interest calculter</h1>
        </div>
        <form method="post">
        <!-- <div class="body">
          <form>
            <div>
            <div>
              <label for="">Principal</label>
              <input type="text" class="form control">
            </div>
            <div>
              <label for="">Interest</label>
              <input type="text" class="form control">
            </div>
            <div>
              <label for="">Time</label>
              <input type="text" class="form control">
            </div>
            </div> -->
            {% csrf_token %}
            <table>
              <tr>
                <td><label for="" class="text-white m-3">Princpul</label></td>
                <td><input type="text" class="form-control" name="Principul"></td>
              </tr>
              <tr>
                <td><label for="" class="text-white m-3">Rate</label></td>
                <td><input type="text" class="form-control" name="rate"></td>
              </tr>
              <tr>
                <td><label for="" class="text-white m-4">Time</label></td>
                <td><input type="text" class="form-control" name="time"></td>
              </tr>

            </table>
            <div class="text-center">
             <button class="btn btn-primary mt-2 mb-4 ml-2 mr-2" >Calculte</button>
            </div>
          </form>
          <input type="text" value="{{p}}" class="mt-2">
           <input type="text" value="{{inter}}" class="mt-2">
          <input type="text" value="{{total}}" class="mt-2">


        </div>
      </div>
    </div>
  </div>
</body>
</html>